{% extends "base.html" %}
{% block title %}{{Tr(Lang, "home.title")}}{% endblock %}
{% block body %}
<script type='text/javascript' src='https://images.sohu.com/cs/jsfile/js/c.js'></script>
	<div class="ui inverted vertical masthead center aligned segment">
	  {% include Page.NavbarTplPath %}

		<!-- 错误提示遮罩层 -->
		<div class="ui basic modal">
			<div class="ui icon header">
				<i class="archive icon"></i>
				<span id="mask-title"></span>
			</div>
			<div class="content" style="display: flex; justify-content: center;align-items: center;">
				<span id="mask-tip"></span>
			</div>
			<div class="actions">
				<div class="ui green ok inverted button">
					<i class="checkmark icon"></i>
					<span id="mask-yes"></span>
				</div>
			</div>
		</div>



		<!-- 主题部分-->
	  <div class="ui text container">
			<!--镜像部分-->
			<div class="home-title">
				<img src="/img/title.ico" style="width:300px;margin-bottom: 10px;" >
				<!-- <h1 style="margin-top: -10px;" class="ui inverted header">
					{{Tr(Lang, "home.title")}}
				</h1> -->
			</div>
  		<input type="radio" id="github" name="radio" value="github" checked  class="radio-style">
			<img src="/img/github.png" class="ico-img" alt="">
  		<label for="github" class="ico-a">{{Tr(Lang, "home.temp_code25")}}</label>

			<input type="radio" id="stackoverflow" name="radio" value="stackoverflow" class="radio-style">
			<img src="/img/stackoverflow.png" class="ico-img" alt="">
  		<label for="stackoverflow" class="ico-a">{{Tr(Lang, "home.temp_code26")}}</label>




			<!--输入框部分-->
			<div class="home-search-wrapper">
				<input id="home-input" class="home-input" placeholder="{{Tr(Lang, 'home.temp_code14')}}" style="color:black;" autofocus/>
				<div id="home-search" class="home-search" onclick="search()"><span class="search-a">{{Tr(Lang, "home.temp_code13")}}</span></div>
				<div id="home-addmirror" class="home-search" onclick="addmirror()"><span class="search-a">{{Tr(Lang, "home.temp_code24")}}</span></div>
			</div>
			<div id="hot-search" class="hot-search">
				<span class="hot-search-item">{{Tr(Lang, "home.temp_code12")}}:</span>
			</div>

			<!--介绍的部分-->
			<div style="margin-bottom: -60px;margin-top:-40px">
				<div id="introduce-part" class="introduce-part">
					<h2 style="color:#ffffff">{{Tr(Lang, "home.tag_line")}}</h2>
				</div>
				<div style="margin:10px 0px;background-color: #91a3ea;border-radius: 35px;padding-bottom: 5px;">
					<!-- <a style="font-size: 1.5em;" href="https://www.gitclone.com/gogs/vipserver" onclick="axios({method: 'get',url: 'https://gitclone.com/gitcache/stat/vipvisit/'}).then(function(res){})">
						<img src="/img/speaker.png" style="width: 32px;position: relative;top:5px">{{Tr(Lang, "home.temp_code3")}}
					</a> -->
					<!-- 推广人脸APP -->
					<a style="font-size: 1.4em;" href="https://aiit.gitclone.com" target="_blank">
						<img src="/img/speaker.png" style="width: 32px;position: relative;top:5px">{{Tr(Lang, "home.temp_code3")}}
					</a>
				</div>
				<div style="margin:10px 0px;background-color: #91a3ea;border-radius: 35px;padding-bottom: 5px;">
					<!-- 推广AI生成器 -->
					<a style="font-size: 1.4em;" href="https://gitclone.com/aiit/chat/" target="_blank">
						<img src="/img/speaker.png" style="width: 32px;position: relative;top:5px">
						<span style="font-family: cursive; font-weight: bolder; color: aliceblue;">{{Tr(Lang, "home.temp_code30")}}</span>
					</a>
				</div>
				<!-- 下载部分-->
				<div class="introduce_wrapper">
					<div class="introduce_github_app">
						<a class="introduce_github_link" href="https://www.gitclone.com/docs/feature/github_app" onclick="axios({method: 'get',url: 'https://gitclone.com/gitcache/stat/githubapp'}).then(function(res){})">
							{{Tr(Lang, "home.temp_code15")}}
						</a>
					</div>
					<div class="introduce_github_app">
						<a class="introduce_github_link" href="https://www.gitclone.com/docs/feature/github_desktop" onclick="axios({method: 'get',url: 'https://gitclone.com/gitcache/stat/githubdesktop'}).then(function(res){})">
							{{Tr(Lang, "home.temp_code16")}}
						</a>
					</div>
					<div class="introduce_github_app">
						<a class="introduce_github_link" href="https://www.gitclone.com/docs/feature/github_tortoisegit" onclick="axios({method: 'get',url: 'https://gitclone.com/gitcache/stat/githubtortoisegit'}).then(function(res){})">
							{{Tr(Lang, "home.temp_code28")}}
						</a>
					</div>
				</div>
				<div class="introduce_wrapper">
					<div class="introduce_github_app">
						<a class="introduce_github_link" href="https://www.gitclone.com/docs/feature/github_cli" onclick="axios({method: 'get',url: 'https://gitclone.com/gitcache/stat/githubcli'}).then(function(res){})">
							{{Tr(Lang, "home.temp_code22")}}
						</a>
					</div>
					<div class="introduce_github_app">
						<a class="introduce_github_link" href="https://www.gitclone.com/docs/feature/github_git" onclick="axios({method: 'get',url: 'https://gitclone.com/gitcache/stat/gitexe'}).then(function(res){})">
							{{Tr(Lang, "home.temp_code23")}}
						</a>
					</div>
					<div class="introduce_github_app">
						<a class="introduce_github_link" href="https://www.gitclone.com/docs/feature/github_sourcetreeapp" onclick="axios({method: 'get',url: 'https://gitclone.com/gitcache/stat/githubsourcetreeapp'}).then(function(res){})">
							{{Tr(Lang, "home.temp_code29")}}
						</a>
					</div>
				</div>
			</div>
	    <!-- <a class="ui huge primary button" href="{{Page.DocsBaseURL}}">{{Tr(Lang, "home.get_started")}} <i class="right arrow icon"></i></a> -->
		</div>
	</div>


	<!-- 快速上手和效果显著 -->
	<div class="ui vertical stripe segment" style="flex: 2;">
		<style>
		</style>
		<div class="ui aligned stackable two column grid container">
			<div class="column fadenum">
				<div style="width: 100%;margin: 5px;">
					<span style="font-size: 2.5em;font-weight: bold;text-align:center">
						{{Tr(Lang, "home.temp_code4")}}
					</span>
				</div>
				<div style="margin-top: 10px;margin-left: 5px; padding-right: 20px;">
						<p style="font-family: Lato, Helvetica Neue, Microsoft YaHei, Arial, Helvetica, sans-serif !important;color:#696969">
							{{Tr(Lang, "home.temp_code5")}}
						</p>
				</div>
				<div
					style="
						width: 100%;
						flex: 1;
						background-color: #1b1c1d;
						color: rgba(255,255,255,.9);
						padding-left: 15px;
						padding-top: 10px;
						margin-top: 20px;
						padding-bottom: 10px;
						box-shadow: 1px 1px 5px 3px #888888;
						border-radius: 10px;
					"
				>
					<p style="line-height: 0.8em;"><span style="color: #6A737D">{{Tr(Lang, "home.temp_code8")}}</span></p>
					<p style="line-height: 1.0em;">git clone https://gitclone.com/github.com/tendermint/tendermint.git</p>
					<p style="line-height: 0.2em;"><span style="color: #6A737D">{{Tr(Lang, "home.temp_code9")}}</span></p>
					<p style="line-height: 0.8em;">git config --global url."https://gitclone.com/".insteadOf https://</p>
					<p style="line-height: 0.8em;">git clone https://github.com/tendermint/tendermint.git</p>
					<p style="line-height: 0.2em;"><span style="color: #6A737D">{{Tr(Lang, "home.temp_code10")}}</span></p>
					<p style="line-height: 1.0em;">cgit clone https://github.com/tendermint/tendermint.git</p>
				</div>
			</div>
			<div class="column fadenum1">
				<div style="width: 100%;margin: 5px;">
					<span style="font-size: 2.5em;font-weight: bold;text-align:center">
						{{Tr(Lang, "home.temp_code6")}}
					</span>
				</div>
				<div style="margin-top: 10px;margin-left: 5px; padding-right: 20px;">
					<p style="font-family: Lato, Helvetica Neue, Microsoft YaHei, Arial, Helvetica, sans-serif !important;color:#696969">
						{{Tr(Lang, "home.temp_code7")}}
					</p>
				</div>
				<div
					style="
						width: 100%;
						background-color: #1b1c1d;
						color: rgba(255,255,255,.9);
						margin-top: 20px;
						padding-top: 30px;
						padding-bottom: 30px;
						box-shadow: 1px 1px 5px 3px #888888;
						border-radius: 10px;
					"
				>
					<p style="line-height: 0.2em;color: #1b1c1d;">git clone https://gitclone.com/github.com/tendermint/tendermint.git</p>
					<img src="/img/data.png" style="height: 80%; width: 100%;border-radius: 10px;" alt="">
				</div>
			</div>
		</div>
	</div>

	<!-- 地图使用 -->
	<div class="ui vertical stripe segment" style="flex: 0;">
		<style>
.iframeClass {
	border: 1px solid rgba(34,36,38,.15);
}
		</style>
		<div class="ui aligned stackable three column grid container">
			<div style="font-size: 2.5em;font-weight: bold;text-align:center;padding-bottom: 30px;">
				{{Tr(Lang, "home.temp_code27")}}
			</div>
			<iframe
				src="https://gitclone.com/visitmap/app/kibana#/visualize/edit/gitClone24%E5%B0%8F%E6%97%B6%E8%AE%BF%E9%97%AE%E6%83%85%E5%86%B5?embed=true&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-1440m,mode:quick,to:now))&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(spy:(mode:(fill:!f,name:!n))),vis:(aggs:!((id:'1',params:(customLabel:%E8%AE%BF%E9%97%AE%E6%95%B0),schema:metric,type:count),(id:'2',params:(autoPrecision:!t,customLabel:%E4%BD%8D%E7%BD%AE,field:geoip.location,mapCenter:!(33.43144133557529,0),mapZoom:2,precision:2),schema:segment,type:geohash_grid)),listeners:(),params:(addTooltip:!t,heatBlur:'23',heatMaxZoom:'10',heatMinOpacity:'0.79',heatNormalizeData:!t,heatRadius:'22',isDesaturated:!t,mapType:'Shaded%20Circle%20Markers',wms:(enabled:!f,options:(attribution:'Maps%20provided%20by%20USGS',format:image%2Fpng,layers:'0',styles:'',transparent:!t,version:'1.3.0'),url:'https:%2F%2Fbasemap.nationalmap.gov%2Farcgis%2Fservices%2FUSGSTopo%2FMapServer%2FWMSServer')),title:gitClone24%E5%B0%8F%E6%97%B6%E8%AE%BF%E9%97%AE%E6%83%85%E5%86%B5,type:tile_map))"
				height="600"
				width="100%"
				class="iframeClass"
			></iframe>
		</div>
	</div>

	<!-- 缓存节点模块 -->
	<div class="ui vertical stripe segment" style="flex: 0;">
		<div class="ui aligned stackable three column grid container" >
			<div style="font-size: 2.5em;font-weight: bold;text-align:center;padding-bottom: 30px;">
				{{Tr(Lang, "home.temp_code11")}}
				<span style="font-size: 18px;">({{Tr(Lang, "home.temp_code1")}}</span>
				<span id="dongtai" style="color: #15bb0f;font-size: 18px;"></span>
				<span style="font-size: 18px;">{{Tr(Lang, "home.temp_code2")}})</span>
			</div>
			<table class="ui blue table">
				<thead>
					<tr>
						<th>{{Tr(Lang, "home.node_name")}}</th>
						<th>{{Tr(Lang, "home.node_ip")}}</th>
						<th>{{Tr(Lang, "home.node_time")}}</th>
						<th>{{Tr(Lang, "home.node_id")}}</th>
					</tr>
				</thead>
				<tbody id="nodetbody">
				</tbody>
			</table>
		</div>
	</div>


	<div class="ui vertical stripe segment" style="flex: 2;">
		<div class="ui aligned stackable three column grid container">
			<!-- <div class="center row"> -->
				<div class="column">
					<h3 class="ui header">
						<i class="world icon"></i> {{Tr(Lang, "home.multi_lang")}}
					</h3>
					<p>{{Tr(Lang, "home.multi_lang_desc")}}</p>
					<p>{{Tr(Lang, "home.multi_lang_desc1")}}</p>
					<p>{{Tr(Lang, "home.multi_lang_desc2")}}</p>
				</div>
				<div class="column">
					<h3 class="ui header">
						<i class="lightning icon"></i> {{Tr(Lang, "home.real_time")}}
					</h3>
					<p>{{Tr(Lang, "home.real_time_desc")}}</p>
					<p>{{Tr(Lang, "home.real_time_desc1")}}</p>
					<p>{{Tr(Lang, "home.real_time_desc2")}}</p>
				</div>
				<div class="column">
					<h3 class="ui header">
						<i class="search icon"></i> {{Tr(Lang, "home.searchable")}}
					</h3>
					<p>{{Tr(Lang, "home.searchable_desc")}}</p>
					<p>{{Tr(Lang, "home.searchable_desc1")}}</p>
					<p>{{Tr(Lang, "home.searchable_desc2")}}</p>
				</div>
			<!-- </div> -->
		</div>
	</div>



	<script>
		var tempRequestAddress = 'http://192.168.10.9:5000/gitcache/system/info'
		var RequestAddress = 'https://gitclone.com/gitcache/system/info/'
		var hotSearchDataURL = 'https://gitclone.com/gitcache/system/recommend/'

		// 通过检测上个github网页
		var lastWebPageAddress = document.referrer !== ""

		if(lastWebPageAddress) {
			let mirrorAddressRep = /https:\/\/github.com\/*\/*/
			if (mirrorAddressRep.test(document.referrer)) {
				document.getElementById("home-input").value = document.referrer
				document.getElementById("home-search").classList.add(["breath_light"])
			}
		}

		// 输入框相关
		var homeInput = document.getElementById("home-input")
		var homeIntroduce = document.getElementById("introduce-part")
		function search() {
			let isSearchGithub = document.getElementById("github").checked
			if(isSearchGithub) {
				// 如果选择github镜像进行搜索
				if (homeInput.value !== "") {
					axios({method: 'get',url: 'https://gitclone.com/gitcache/stat/search'}).then(function(res){
						window.open(`https://www.gitclone.com/gogs/search/clonesearch?q=${homeInput.value}`,"_self")
					})
				} else {
					axios({method: 'get',url: 'https://gitclone.com/gitcache/stat/search'}).then(function(res){
						window.open(`https://www.gitclone.com/gogs/search/clonesearch`,"_self")
					})
				}
			} else {
				// 如果选择stackoverflow镜像进行搜索
				if (homeInput.value !== "") {
					axios({method: 'get',url: 'https://gitclone.com/gitcache/stat/search'}).then(function(res){
						window.open(`https://so.gitclone.com/questions?search==${homeInput.value}`,"_self")
					})
				} else {
					axios({method: 'get',url: 'https://gitclone.com/gitcache/stat/search'}).then(function(res){
						window.open(`https://so.gitclone.com/questions`,"_self")
						// window.open(`http://61.133.217.141:3000/questions`,"_self")
					})
				}
			}

		}


		// 发送生成镜像的请求
		function checkReadme(path) {
			let proUrl = `https://gitclone.com/${path.slice(8)}/git-upload-pack`
			//let devUrl = `http://localhost:5000/${path.slice(8)}/git-upload-pack`
			axios({method:'post', url: proUrl}).then(function(res) {
				let hasCache = res.headers["cache-control"] === "no-cache, max-age=0, must-revalidate, no-cache, max-age=0, must-revalidate"
				if(res.status === 200 && hasCache) {
					showMask(
						`正在为 ${path} 添加镜像，请稍后重新搜索，查看结果`,
						`Adding a mirror for ${path}, please search again in ten minutes to see the results`
					)
				} else {
					showMask(
						"该项目已存在于gogs镜像当中，请勿重复添加",
						"The project already exists in the gogs mirror, please do not add it repeatedly"
					)
				}
			}).catch(err => {
				showMask(
					`${path}添加镜像失败，请检查网络或者联系管理员之后重试`,
					`${path}failed to add mirror, please check the network or contact the administrator and try again`
				)
			})
		}

		// 展示错误提示框
		function showMask(zhStr,enStr) {
			let maskTitle = document.getElementById("mask-title")
			let maskTip= document.getElementById("mask-tip")
			let maskYes = document.getElementById("mask-yes")

			let lastChildrenOfmaskTip = maskTip.lastChild
			if(lastChildrenOfmaskTip) {
				maskTip.removeChild(lastChildrenOfmaskTip)
			}

			let zh = document.cookie.indexOf("lang=zh-CN")!==-1
			maskTitle.innerText = zh ? "温馨提示": "Tips"
			maskYes.innerText = "yes"
			if(typeof zhStr === "string" && typeof enStr === "string") {
				maskTip.innerText = zh? zhStr: enStr
			} else {
				maskTip.appendChild(zh? zhStr: enStr)
			}
			$('.ui.basic.modal')
				.modal('show')
			;
		}

		// 添加镜像
		function addmirror() {
			console.log("进入生成镜像",!document.getElementById("github").checked)
			if(!document.getElementById("github").checked){
				showMask(
					"请选择Github镜像条件下进行生成镜像",
					"Please select the Github mirroring condition to generate the mirror"
				)
				return
			}
			// 检查输入地址的正确性
			var mirrorAddress = /https:\/\/github.com\/*\/*/
			if (homeInput.value !== "") {
				let ismirrorAddressRight = mirrorAddress.test(homeInput.value)
				// 地址正确就到镜像中查询项目是否存在
				if(ismirrorAddressRight) {
					checkReadme(homeInput.value)
				} else {
					// 地址不正确就向用户报错误
					showMask(
						"您输入的地址有误，请输入正确的地址，例如：https://github.com/flutter/flutter.git",
						"The address you entered is wrong, please input right address like: https://github.com/flutter/flutter.git"
					)
				}
			} else {
				showMask(
						"请输入正确的地址，例如：https://github.com/flutter/flutter.git",
						"please input right address like: https://github.com/flutter/flutter.git"
					)
			}
		}

		// input绑定回车事件
		$("#home-input").on("keydown",function(e) {
			if(event.keyCode == "13") {
				search()
			}
		});

		// 获取热搜数据信息
		axios({
			method:'get',
			url: hotSearchDataURL
		}).then(function(res){
			var rs = [
				{name: "gitcache",path: "1"},
				{name: "qa_common_codes",path: "1"},
				{name: "shattered-pixel-dungeon",path: "1"},
				{name: "deap",path: "1"},
				{name: "from_coder_to_expert",path: "1"},
				{name: "wechat-deleted-friends",path: "1"},
				{name: "abigteam_server",path: "1"},
				{name: "documents",path: "1"},
				{name: "LOLBAS",path: "1"},
				{name: "paddy-sketch-plugin",path: "1"},
			]


			if (Array.isArray(res.data)) {
				var hotSearchDataNode = document.getElementById("hot-search")
				res.data.map((item, index) => {
					let tempNode = document.createElement("a")
					tempNode.classList.add("ui","inverted", "button")
					tempNode.innerHTML = item.name
					tempNode.style.margin="2.5px 5px"
					tempNode.style.fontSize="12px"
					tempNode.style.fontWeight="normal"
					tempNode.href = `https://www.gitclone.com/gogs/search/clonesearch?q=${item.path}`
					hotSearchDataNode.appendChild(tempNode)
				})
			}
		})



		axios({
			method: 'get',
			url: RequestAddress
		})
		.then(function(res){
			var count = res.data.count
			var nodes = res.data.nodes
			var size = res.data.size
			var info = size  + '[' + nodes + '(' + count + ')]'
			document.getElementById("dongtai").innerHTML = ` ${info} `
		})
		.catch(function(error) {
			console.log(error)
		})


		Date.prototype.format = function(fmt) {
			var o = {
				"M+" : this.getMonth()+1,                 //月份
				"d+" : this.getDate(),                    //日
				"h+" : this.getHours(),                   //小时
				"m+" : this.getMinutes(),                 //分
				"s+" : this.getSeconds(),                 //秒
				"q+" : Math.floor((this.getMonth()+3)/3), //季度
				"S"  : this.getMilliseconds()             //毫秒
			};
			if(/(y+)/.test(fmt)) {
				fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
			}
			for(var k in o) {
					if(new RegExp("("+ k +")").test(fmt)){
							fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
					}
			}
			return fmt;
		}

		// 获取节点信息
		let nodeData = []
		var timeAll = ""
		var block_height = ""

		axios({
			method: 'get',
			url: "https://gitclone.com/tendermint/status"
		})
		.then(function(res){
			// request first node
			let data = res.data.result
			let tbody = document.getElementById("nodetbody")
			let tr = document.createElement("tr")
			let td1 = document.createElement("td")
			td1.innerHTML = data["node_info"]["moniker"]
			tr.appendChild(td1)

			let td2 = document.createElement("td")
			td2.innerHTML = "192.168.**.54"
			tr.appendChild(td2)

			let td3 = document.createElement("td")
			let time = data["sync_info"]["latest_block_time"]
			let timeYY = new Date(time).format("yyyy-MM-dd hh:mm:ss")
			timeAll = timeYY
			td3.innerHTML = timeYY
			tr.appendChild(td3)


			let td4 = document.createElement("td")
			let height = data["sync_info"]["latest_block_height"]
			block_height = height
			td4.innerHTML = block_height
			tr.appendChild(td4)
			tbody.appendChild(tr)

			// request another three nodes
			axios({
				method: 'get',
				url: "https://gitclone.com/tendermint/net_info"
			})
			.then(function(res){
				nodeData = res.data.result.peers
				let tbody = document.getElementById("nodetbody")
				for (let i = 0; i < nodeData.length; i++) {
					let tr = document.createElement("tr")
					let td1 = document.createElement("td")
					td1.innerHTML = nodeData[i]["node_info"]["moniker"]
					tr.appendChild(td1)
					let td2 = document.createElement("td")
					let ip =nodeData[i]["remote_ip"]
					ip = ip.replace(".10.",".**.")
					td2.innerHTML = ip
					tr.appendChild(td2)
					let td3 = document.createElement("td")
					// let time = nodeData[i]["connection_status"]["SendMonitor"]["Start"]
					// let timeYY = time.slice(0,10) + " "+  time.slice(11,19)
					td3.innerHTML = timeAll
					tr.appendChild(td3)
					let td4 = document.createElement("td")
					td4.innerHTML = block_height
					tr.appendChild(td4)
					tbody.appendChild(tr)
				}
			})
			.catch(function(error) {
				console.log(error)
			})
		})
		.catch(function(error) {
			console.log(error)
		})

	</script>

 <!-- <div class="ui vertical stripe segment">
	  <div class="ui aligned centered stackable grid container">
	    <h1 class="ui icon header">
	      <i class="thumbs up icon"></i>
	      <div class="content">
	        {{Tr(Lang, "home.awesomeness")}}
	        <div class="sub header">{{Tr(Lang, "home.awesomeness_desc")}}</div>
	      </div>
	    </h1>
	  </div>
	  <div class="ui aligned centered stackable four column grid container">
	    <div class="column">
	      <h3 class="ui header">
	        <i class="file text icon"></i> {{Tr(Lang, "home.markdown")}}
	      </h3>
	      <p>{{Tr(Lang, "home.markdown_desc")}}</p>
	    </div>
	    <div class="column">
	      <h3 class="ui header">
	        <i class="rocket icon"></i> {{Tr(Lang, "home.webhook")}}
	      </h3>
	      <p>{{Tr(Lang, "home.webhook_desc")}}</p>
	    </div>
	    <div class="column">
	      <h3 class="ui header">
	        <i class="settings icon"></i> {{Tr(Lang, "home.configurable")}}
	      </h3>
	      <p>{{Tr(Lang, "home.configurable_desc")}}</p>
	    </div>
	    <div class="column">
	      <h3 class="ui header">
	        <i class="comments icon"></i> {{Tr(Lang, "home.disqus")}}
	      </h3>
	      <p>{{Tr(Lang, "home.disqus_desc")}}</p>
	    </div>
	    <div class="row">
	      <div class="center aligned column">
	        <a class="ui huge blue button">{{Tr(Lang, "home.check_them_out")}}</a>
	      </div>
	    </div>
	    <h4 class="ui horizontal header divider">
	      <a href="">{{Tr(Lang, "home.case_study")}}</a>
	    </h4>
	  </div>
	</div> -->

	{% include Page.FooterTplPath %}
{% endblock %}